@import url('reset.css');
@import url('font.css');
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'sofia-pro';
}

main{
    display: flex;
    flex-direction: column;
    width: 94rem;
}

p{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
    width: 100%;
    background-color: black;
}

header>p{
    color: #f3f3f3;
    font-style: italic;
}

menu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding:0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

menu>.logo{
    width: min-content;
    align-self: center;
}

nav>a{
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 1rem;
    font-family: 'sofia-pro';
}

.navbar>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.localisation{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.localisation>select{
    background-color: white;
    border: none;
}

.navlinks{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.userInfo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.toto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wallpaper{
    background-color: #f3f3f3;
    width: 705px;
    height: 340px;
    justify-self: end;
}
.wallpaper>div{
    padding: 3rem;
}
.wallpaper>div>hgroup{
    margin-bottom: 3rem;
}
hgroup>h2{
    margin-bottom: 0.8rem;
}

.wallpaper>.button{
    margin-top: 2.5rem;
}

.featured{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.featured>nav{
    padding-block: 1rem;
    border-top: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured>h2{
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'futura-book';
}

.circles{
    display: flex;
    gap: 4px;
}

.circle1{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 100%;

}
.circle2{
    width: 15px;
    height: 15px;
    background-color: #cbcbcb;
    border-radius: 100%;
}
.circle3{
    width: 15px;
    height: 15px;
    background-color: #cbcbcb;
    border-radius: 100%;
}

.items{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.price{
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card>h2{
    text-align: center;
}
.wrong_price{
    color: #cbcbcb;
    text-decoration: line-through;
    font-size: 18px;
}

.price{
    font-size: 20px;
}

.collections, .follow{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-block: 3rem;
}

.title{
    font-size: 1.1rem;
    font-family: 'nimbus-sans';
    letter-spacing: 0.2rem;
}

.subtitle{
    font-size: 2.2rem;
    font-family: 'nimbus';
    letter-spacing: 0.1rem;
}

.collections>hgroup>h2, .promotions>.leftSide>hgroup>h2{
    margin-bottom: 0.2rem;
}
.collections>hr, .promotions>.leftSide>hr, .follow>hr{
    width: 5rem;
    margin-block: 2rem;
    margin-inline: 0;

}

#promotion_button{
    font-weight: 400;
    font-family: 'futura-book';
    letter-spacing: 0.1rem;
}

.collections>p, .promotions>.leftSide>p{
    margin-bottom: 2rem;
    color: #858585;
}

.collections>img{
    width: 100%;
    object-fit: cover;
}

.promotions{
    display: flex;
    margin-block: 3rem;
    justify-content: space-between;
    gap: 3rem;
}

.promotions>.leftSide>button{
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: black;
    color: white;
    border: none;
}

.follow>hr, .collections>hr{
    align-self: center;
}

.helps{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-block: 4rem;
    margin-block-end: 7rem;
}

.helps_card>img{
    margin-block: 1rem;
}

.helps_card>hgroup>h2{
    font-weight: bold;
    font-size: 1.2rem;
}

.helps_card>hgroup>p{
    color: #858585;
    font-size: 1rem;
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tata{
    display: flex;
    flex-direction: column;
    width: 80rem;
    color: white;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
}

.upper>.informations{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.upper>.informations>h2{
    font-weight: bold;
    font-size: 1.2rem;
}

.upper>.informations>ul{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.upper>.newsletter>form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.upper>.newsletter>form>button{
    width: fit-content;
    background-color: white;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border: none;
}

.upper>.newsletter>form>input{
    border-radius: 0px;
    border: none;
    padding-block: 0.5rem;
}

.bi-arrow-up-circle-fill{
    width: 2rem;
    height: 2rem;
    color: white;
}

.bi-arrow-up-circle-fill:visited{
    color: white;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
}
#bottom_separator{
    width: 100%;
}
.socials>ul{
    display: flex;
    gap: 0.5rem;
}

#kaban{
    color: #d2b997;
}

#subscribe{
    font-family: 'futura-book';
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
}