body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 94rem;
}

p{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    background-color: black;
}

header>p{
    color: gray;
    font-style: italic;
}

menu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
}

menu>.logo{
    width: min-content;
    align-self: center;
}

nav>a{
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 1rem;
}

.navbar>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.localisation{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.localisation>select{
    background-color: white;
    border: none;
}

.navlinks{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.userInfo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.presentation{
    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: auto;
    justify-content: center;
}

.banniere{
    grid-column-start: 1;
    grid-column-end: 2;
}

.banniere>img{
    object-fit: cover;
}


#design{
    grid-row-start: 2;
}

.wallpaper{
    grid-row-start: 2;
    background-color: #f3f3f3;
    padding: 3rem;
}
hgroup>h2{
    margin-bottom: 0.8rem;
}

.wallpaper>.button{
    margin-top: 2.5rem;
}
