body{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;
}

header>p{
    color: gray;
    font-style: italic;
}

menu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
}

menu>.logo{
    width: min-content;
    align-self: center;
}

nav>a{
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 1rem;
}

.navbar>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.localisation{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.localisation>select{
    background-color: white;
    border: none;
}

.navlinks{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.userInfo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
